<!DOCTYPE html>
<html>

<head>
     <title>about</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{name}}. It uses data from mapbox and dark sky</p>
        <p>Created by {{name}}</p>
        <img class='portait' src="/img/GBPB-MTP-UT21.PNG">
    </div>
    {{>footer}}
</body>

</html>